.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
  }
  
  header, footer {
    background-color: #a1c739;
    padding: 20px;
  }
  
  main {
    display: flex;
    flex-direction: row;
  }
  
  .main-content {
    flex: 2;
    background-color: #18d4b5;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
  }
   .main-content > div {
    background-color: #9e1d73;
    width: 300px;
    margin: 10px;
    text-align: center;
    line-height: 35px;
    font-size: 15px;
  }
  
  .sidebar {
    flex: 1;
    background-color: #26a0c5;
    padding: 20px;
  }